@charset "utf-8";
html {
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
body {
	padding-top: 0px;
	margin-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: rgba(255,255,255,1.00);
}


header {
	background-color: rgba(242,242,242,1.00);
	margin-top: -20px;
	padding-top: 0px;
	width: 100%;
}
.head-img {
	width: 150px;
	height: 175px;
	margin-bottom: 0px;
	float: left;
	margin-left: 22px;
}
.head-center {
	float: left;
	margin-top: 65px;
	padding-left: 1px;
}
.head-center ul li {
	display: inline-block;
	padding-right: 24px;
	padding-left: 24px;
	padding-bottom: 14px;
	font-family: Calibri;
	font-size: large;

}
.head-center ul li:hover {
	border-bottom-style: solid;
	border-color: rgba(158,0,2,1.00);
	border-width: medium;

}
.head-left {
	float: left;
	width: 109px;
	height: 130px;
	margin-top: 32px;
}
.head-social {
	padding-top: 25px;
	float: left;
	padding-left: 32px;
	margin-left: -64px;

}

.head-social-link {
	float: left;
	margin-top: 2px;
	padding-left: 15px;
	width: auto;
}
.head-social-link:hover {
	float: left;
	margin-top: 2px;
	padding-left: 15px;
	width: auto;
	color: rgba(255,14,18,1.00);
}


/* Dropdown Button */
.dropbtn {
	/* [disabled]background-color: #4CAF50; */
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 250px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	/* [disabled]z-index: 1; */
	margin-top: 16px;
	margin-left: -27px;
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: medium;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding-top: 8px;
	/* [disabled]padding-right: 16px; */
	/* [disabled]padding-left: 16px; */
	padding-bottom: 8px;
	text-decoration: none;
	display: block;
	border: thin solid rgba(255,67,70,1.00);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #FFFD38;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	/* [disabled]background-color: #3e8e41; */
	border-bottom-style: solid;
	border-bottom-color: rgba(253,16,20,1.00);
}
main {
	text-align: center;
	width: 100%;
	font-family: Calibri;
}
.main-tag {
	font-size: large;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
}
.main-tag p {
	text-align: center;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.main-products-h2 {
	font-size: 40pt;
	font-weight: normal;
}

.main-products {
	width: 100%;
}
.main-products-head {
	margin-top: 0px;
	background-color: rgba(255,255,255,1.00);
	font-size: large;
	text-align: left;
	padding-top: 15px;
	font-weight: bold;
	padding-bottom: 5px;
}
.main-products-head a {
	border-top: medium solid #FBDA00;
	border-right: medium solid #FBDA00;
	border-bottom: medium solid #FBDA00;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.main-products-button {
	border-style: none;
	background-color: #FBDA00;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 14px;
	border-radius: 4px;
}
.main-products-button:hover {
	border-style: none;
	background-color: #FFEA60;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 14px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.5s;
}


.main-col-4 {
	width: 23%;
	-webkit-box-shadow: 3px 3px 22px rgba(155,155,155,1.00);
	box-shadow: 3px 3px 22px rgba(155,155,155,1.00);
	padding-top: 15px;
	float: left;
	padding-bottom: 15px;
	padding-left: 0px;
	margin-right: 2%;
	min-height: 400px;
	/* [disabled]max-height: 250px; */
	margin-top: 20px;
	margin-bottom: 20px;
}
.main-col-4 img {
	height: 250px;
	padding-bottom: 20px;
	padding-top: 10px;

}
.services {
	background-repeat: no-repeat;
	min-height: 600px;
	/* [disabled]margin-bottom: 100px; */
	padding-top: 24px;
	padding-bottom: 50px;
	background-size: 100% 700px;
	background-image: url(images/Website%20Assets2/Plotter_Background-min.png);
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	background-color: rgba(77,77,77,1.00);
	margin-top: 74px;
}
.services h2 {
	color: rgba(255,255,255,1.00);
	font-size: xx-large;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

.services-col-5 {
	background-color: rgba(255,255,255,1.00);
	float: left;
	padding-top: 41px;
	border-radius: 24px;
	width: 18%;
	margin-right: 1%;
	margin-top: 25px;
	position: relative;
	min-height: 160px;
}
.services-col-5:after {
	content: '';
	width: 30%;
	height: 4px;
	background-color: #FBDA00;
	position: absolute;
	bottom: -2px;
	right: 35%;
	left: 35%;
}


.services-col-5 p {
	font-weight: bold;
}

.services-img  {
	background-color: rgba(158,0,2,1.00);
	margin-right: auto;
	margin-left: auto;
	width: 100px;
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 20px;
	padding-left: 15px;
	border-radius: 55%;
}
.clients {
	margin-top: 100px;
	min-height: 500px;
}
.clients-col-6 {
	width: 16.66%;
	float: left;
	margin-top: 51px;
}
.client-info{
	float: left;
	display: none;
	width: 100%;
	margin-top: 25px;
	font-size: large;
}

.clients-col-6:hover{
	cursor: pointer
}

#CoA:hover ~ #CoA-IN{
	display: block;
	transition: 2s;
}

#Col:hover ~ #Col-IN{
	display: block;
	transition: 2s;
}
#Curl:hover ~ #Curl-IN{
	display: block;
	transition: 2s;
}
#Jimini:hover ~ #Jimini-IN{
	display: block;
	transition: 2s;
}
#Marsoc:hover ~ #Marsoc-IN{
	display: block;
	transition: 2s;
}
#MSA:hover ~ #MSA-IN{
	display: block;
	transition: 2s;
}

.w3-animate-opacity{
	animation:opac 0.8s;
}
.contact {
	width: 100%;
	background-image: url(images/Website%20Assets/card.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
}

.contact-content {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(224,224,224,0.83);
	padding-top: 25px;
	padding-bottom: 25px;
}
.underline {
	position: relative;
	font-weight: bold;
}
.underline:after {
	content: '';
	width: 60px;
	height: 4px;
	position: absolute;
	bottom: -4px;
	background-color: rgba(158,0,2,1.00);
	right: auto;
	left: 0px;
}




.contact-col-2 {
	width: 45%;
	float: left;
	padding-left: 5%;
}




@keyframes opac{
	from{opacity:0}
	to{opacity:1}
}
.contact-col-2 p {
	text-align: left;
}
.contact-social {
	padding-top: 25px;
	float: left;
	padding-left: 65px;
	margin-left: -64px;
}
.contact-social div {
	clear: both;
}
.contact-social div img {
	float: left;
	width: 25px;
	height: 25px;
}
.contact-social div p {
	float: left;
	font-weight: bold;
	padding-top: 0px;
	margin-top: 3px;
	padding-left: 20px;
}
.contact-col-2 form {
	width: 100%;
}
.contact-col-2 form input {
	width: 80%;
	margin-bottom: 5px;
	border: thin solid rgba(255,14,18,1.00);
	height: 45px;
	border-radius: 5px;
	padding-left: 40px;
	font-family: cookie;
	font-style: normal;
	font-weight: 400;
	font-size: large;
}
.contact-col-2 form input:hover {
	border: thin solid rgba(0,0,0,1.00);
	font-family: Calibri;
}

.contact-col-2 form textarea {
	width: 80%;
	border: thin solid rgba(255,14,18,1.00);
	margin-bottom: 5px;
	border-radius: 5px;
	height: 75px;
	padding-left: 40px;
	background-image: url(images/icon/mail.png);
	background-size: auto 25px;
	background-position: 8px 7px;
	background-repeat: no-repeat;
	background-attachment: scroll;
}
.contact-col-2 form textarea:hover  {
	width: 80%;
	border: thin solid rgba(0,0,0,1.00);
	margin-bottom: 5px;
	border-radius: 5px;
	height: 75px;
	font-family: Calibri;
}
#submit {
	border-radius: 0px;
	border-style: none;
	border-color: rgba(255,255,255,1.00);
	background-color: #FBDA00;
	cursor: pointer;
	font-family: Calibri;
	text-align: center;
	padding-left: 0px;
	width: 87%;
}
#submit:hover {
	background-color: #FFEA60;
}



#name{
	background-image: url(images/icon/man-user.png);
	background-repeat: no-repeat;
	background-size: auto 25px;
	background-attachment: scroll;
	background-position: 8px 10px;
	
}
#email{
	background-image: url(images/icon/envelope.png);
	background-repeat: no-repeat;
	background-size: auto 25px;
	background-attachment: scroll;
	ackground-position: 3px 4px;
	background-position: 8px 10px;
	
}
#tel{
	background-image: url(images/icon/phone-receiver.png);
	background-repeat: no-repeat;
	background-size: auto 25px;
	background-attachment: scroll;
	ackground-position: 10px 4px;
	background-position: 8px 10px;
	
}








.horizontal-line {
	width: 100px;
	height: 5px;
	border-style: none;
	text-align: center;
}

h1 {
	font-family: Calibri;
}
